.historyText {
  .shortenedUrl {
    display: flex;
    align-items: center;

    a {
      margin-right: 1rem;
    }
  }

  .url {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 500px;
    white-space: nowrap;
  }
}
