@use '../../../../assets/variable';

.historyText {
  .shortenedUrl {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: pointer;
    width: fit-content;
    position: relative;

    div {
      margin-right: 1rem;
      font-weight: variable.$url-body-font-weight;
      font-size: variable.$url-body-font-size;
      width: 350px;
      overflow: hidden;
      text-overflow: ellipsis;

      span {
        color: variable.$accent-color;
      }
    }

    p {
      color: variable.$accent-color;
      display: none;
      position: absolute;
      left: 350px;
      width: fit-content;
    }
  }

  .shortenedUrl:hover {
    p {
      display: block;
    }
  }

  .url {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 350px;
    white-space: nowrap;
    color: variable.$unimportant-text;
  }
}

@media only screen and (max-width: 768px) {
  .historyText {
    .shortenedUrl {
      div {
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .shortenedUrl:hover {
      p {
        display: none;
      }
    }

    .url {
      width: 100px;
    }
  }
}
