@use '../../../assets/variable';

.tableData {
  td {
    padding: 1rem 0;
  }

  td:nth-child(2),
  td:last-child {
    text-align: center;
  }
}

.tableData:focus {
  box-shadow: -5px 0px 0px 0px variable.$accent-color;
  border: none;
  outline: none;
}
