@use '../../assets/variable';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: variable.$accent-color;
    text-decoration: underline;
    font-family: variable.$logo-font-family;
    font-size: variable.$logo-font-size;
    font-weight: variable.$logo-font-weight;
  }

  p {
    color: variable.$unimportant-text;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;

    h1 {
      margin: 1rem 0 0.5rem 0;
    }
  }
}
