@use '../../assets/variable';

.table {
  margin-bottom: 1rem;
  .tableCaption {
    display: flex;
    align-items: center;
    padding: 0 calc(1rem + 5px);

    h3 {
      margin-right: 1rem;
      color: variable.$primary-text;
      font-weight: variable.$section-heading-font-weight;
      font-size: variable.$section-heading-font-size;
    }

    button {
      background-color: transparent;
      border: none;
      color: variable.$accent-color;
    }
  }

  table {
    width: 100%;
    border-spacing: 0;
  }

  .tableHead {
    th {
      font-weight: variable.$table-heading-font-weight;
      font-size: variable.$table-heading-font-size;
      text-transform: variable.$table-heading-text-transform;
      color: variable.$secondary-text;
    }

    th:first-child {
      text-align: left;
      padding-left: calc(1rem + 5px);
    }

    th:nth-child(2) {
      text-align: center;
    }

    th:last-child {
      padding-left: 1rem;
      white-space: nowrap;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .table {
    .tableCaption {
      flex-direction: column;
      margin-bottom: 1rem;

      h3 {
        text-align: center;
        margin: 1rem 0;
        color: variable.$primary-text;
        font-weight: variable.$section-heading-font-weight;
        font-size: variable.$section-heading-font-size;
      }

      button {
        background-color: transparent;
        border: none;
        color: variable.$accent-color;
      }
    }

    table {
      width: 100%;
      border-spacing: 0;
    }

    .tableHead {
      th {
        font-weight: variable.$table-heading-font-weight;
        font-size: variable.$table-heading-font-size;
        text-transform: variable.$table-heading-text-transform;
        color: variable.$secondary-text;
      }

      th:first-child {
        text-align: left;
      }

      th:nth-child(2) {
        text-align: center;
      }

      th:last-child {
        text-align: center;
      }
    }
  }
}
