$default-border-radius: 3px;
$primary-text: #555;
$secondary-text: #aaa;
$white-text: #fafafa;
$unimportant-text: #ccc;
$disabled-btn-text: #bfbfbf;
$disabled-btn-bg: #e0e0e0;
$accent-color: #eb4a42;
$light-bg: #eaeaea;
$logo-font-family: "Montserrat", sans-serif;
$logo-font-size: 47px;
$logo-font-weight: 400;
$section-heading-font-weight: 300;
$section-heading-font-size: 22px;
$normal-text-font-family: "Roboto", sans-serif;
$normal-text-font-weight: 300;
$normal-text-font-size: 16px;
$url-body-font-weight: 400;
$url-body-font-size: 16px;
$table-heading-font-weight: 400;
$table-heading-font-size: 14px;
$table-heading-text-transform: uppercase;
