@use './assets/font';
@use './assets/variable';

// Global Style

* {
  box-sizing: border-box;
}

body {
  font-family: variable.$normal-text-font-family;
  font-size: variable.$normal-text-font-size;
  font-weight: variable.$normal-text-font-weight;
  color: variable.$primary-text;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: variable.$primary-text;
}

p {
  margin: 0;
}
.error-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .error {
    background-color: red;
    color: #fafafa;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
}
