@use '../../assets/variable';

.searchBox {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  input[type="text"] {
    width: 75%;
    padding: 0.5rem 1rem;
    background-color: variable.$light-bg;
    border: none;
    border-radius: variable.$default-border-radius;
    font-family: variable.$url-body-font-family;
    font-weight: variable.$url-body-font-weight;
    font-size: variable.$url-body-font-size;
    color: variable.$primary-text;
  }

  input[type="text"]:focus {
    outline: none;
  }

  input[type="text"]::placeholder {
    color: variable.$unimportant-text;
  }

  button {
    width: 15%;
    border: none;
    border-radius: variable.$default-border-radius;
    background-color: variable.$accent-color;
    color: variable.$white-text;
  }

  button:disabled {
    background-color: variable.$disabled-btn-bg;
    color: variable.$disabled-btn-text;
    cursor: not-allowed;
  }
}

@media only screen and (max-width: 768px) {
  .searchBox {
    input[type="text"] {
      width: 60%;
    }

    button {
      width: 30%;
    }
  }
}
